<!-- header start -->
<app-header-one [transparent]="true" [white_bg]="true"></app-header-one>
<!-- header end -->

<main>

  <!-- breadcrumb start -->
  <app-breadcrumb-one title="Login" subtitle="Login"></app-breadcrumb-one>
  <!-- breadcrumb end -->

  <!-- login Area start -->
  <section class="login-area pt-100 pb-100">
    <div class="container">
      <div class="row">
        <div class="col-lg-8 offset-lg-2">
          <div class="basic-login">
            <h3 class="text-center mb-60">Redirecting to Shopify...</h3>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- login Area End-->
</main>

<!-- footer start -->
<app-footer-one></app-footer-one>
<!-- footer end -->